<% if (@answer)%>

  <div class="p-3 mb-2 bg-white text-dark border-start border-5" style="margin:20px">
     <%= @question%>
     <br>
     -You
  </div>
   <div class="p-3 mb-2 bg-warning text-dark bg-opacity-25 border-start border-5" style="margin:20px">
    <%= @answer%>
    <br>
    -Your Coach
  </div>

<%end%>
<br>
<div style="margin:20px">
  <%= link_to "Ask a new question", ask_path%>
</div>
